<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png" />
	<link rel="apple-touch-startup-image" href="startup.png" />
	<link rel="stylesheet" type="text/css" media="all" href="style.css?t=120517" />
	<title>もえゴエ</title>
</head>
<body>
	<nav class="nofocus shadow">
		<div class="bar">
			<form onsubmit="return false;">
				<input type="search" id="keyword" name="keyword" placeholder="搜索Joysound">
				<span class="clean">&nbsp;×&nbsp;</span>
				<input type="submit" id="submit" value="">
				<input type="hidden" name="liketype" value="1">
				<input type="hidden" name="searchtype" value="2">
			</form>
			<ul id="nav_bottom">
				<li class="option_group" data-name="liketype">
					<table>
						<tr>
							<td><a class="option" data-value="2">部分一致</a></td>
							<td><a class="option selected" data-value="1">开头一致</a></td>
							<td><a class="option" data-value="3">全部一致</a></td>
						</tr>
					</table>
				</li>
			</ul>
		</div>
	</nav>
	<section>
		<ul id="result">
		</ul>
	</section>
	<footer class="shadow">
		<p id="tips">
			<span class="content"></span>
			<!-- <a class="close" href="##">&nbsp;x&nbsp;</a> -->
		</p>
	</footer>

	<script id="tpl_qry" type="text/html">
		<li class="qry <% if( status == RUNNING ){ %>running<% } %>" id="<%= hash %>">
			<p class="major"><span>【<em><%= keyword_fmt.toNbsp() %></em>】</span></p>
			<p class="minor"><span><em><% if( count ){ %><%= count %> results<% }
				else if( status == FETCHED ){ %>No result<% }
				else if( status == RUNNING ){ %>Running<% }
				else if( status == ERROR ){ %><a class="retry" href="##">Retry</a><% }
			%></em></span></p>
			<p class="right"><a class="remove" href="##">&nbsp;×&nbsp;</a></p>
		</li>
	</script>
	<script id="tpl_song" type="text/html">
		<li>
			<p class="major"><span><%= title %></span></p>
			<p class="minor"><span><%= artist %></span></p>
			<p class="right <% if( !song_no ){ %>loading<% }
				else if( v2_flag == 2 ){ %>exist<% }
				else if( v2_flag == 1 ){ %>notexist<% }
			%>"><%= song_no || '...' %></p>
		</li>
	</script>
	<script id="tpl_more" type="text/html">
		<% if( enabled || loading ){ %>
		<li class="more">
			<% if( loading ){ %>
				<p><span><em>Loading more ...</em></span></p>
			<% } else { %>
				<p><span><a class="more" href="##">Load more</a></span></p>
			<% } %>
			<p class="right"><a class="fold" href="##">&nbsp;×&nbsp;</a></p>
		</li>
		<% } %>
	</script>
	<script id="tpl_result" type="text/html">
		<%= include( 'tpl_qry', qry ) %>
		<% for( var i in qry.list ) %><%= include( 'tpl_song', qry.list[i] ) %>
		<%= include( 'tpl_more', qry.more ) %>
	</script>
	<script id='tpl_list' type="text/html">
		<% for( var i in list ) %><%= include( 'tpl_qry', list[i] ) %>
	</script>

	<script src="js/jquery.js"></script>
	<script src="js/jquery.ba-hashchange.min.js"></script>
	<script src="js/zepto.min.js"></script>
	<script src="js/template.min.js"></script>
	<script src="js/core.js"></script>
	<script src="js/data.js"></script>
	<script src="js/ui.js"></script>
	<script src="js/events.js"></script>
</body>
</html>